<div class="c-logo thin-border-bottom padding-sidebar bg-medium shadow-left">
    {# <a href="{{ 'home' | route({ listIsSortedBy: renderData.listIsSortedBy }) }}" class="flex-x-start no-underline"> #}
    <a href="{{ 'home'  }}" class="flex-x-start no-underline">
      {{ config.LOGO | url  | svg(147, "img-size-s margin-right-m") | safe }}
      <div class="color-primary fw-bold fsi-1-5 ff-fancy margin-top-xs">{{config.PROJECT_NAME}}</div>
    </a>
    <button type="button" class="hide-large btn--reset margin-top-s" data-menu-button>
        <span class="btn--ghost">
            Menu
            {{ config.MENU_ICON | url  | svg | safe }}
      </span>
    </button>
  </div>