
.padding-xs {
  padding: 0.25rem !important;
}
.padding-s {
  padding: 0.5rem !important;
}
.padding-m {
  padding: 1rem !important;
}
.padding-l {
  padding: 2rem !important;
}
.padding-v-m {
  padding: 0 1em;
}